<!-- pages -->
<div class="page-ctrl">
	<span class="page-old" title="上一篇">
	{% if page.previous.url %} 
		&lt;&lt;<a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %} 
	</span>
	<span class="page-new" title="下一篇">
        {% if page.next.url %} 
		<a href="{{page.next.url}}">{{page.next.title}}&gt;&gt;</a>
        {% endif %} 
	</span>
</div>
